@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:lemonchiffon">
   <strong><h3>Welcome to </h3></strong>Ticket booking system project
</div>

<div class="row">
    <h2 style="color:green">Our counters</h2>
    <div class="col-md-2">
        <p style="text-align:justify">
           <strong><h3>Dhaka</h3></strong>
           <strong>
               Maniknagar,Saidabad
               Dhaka-1203
               phone:012545441
           </strong>
        </p>

    </div>
    <div class="col-md-2">
        <p>
            <strong><h3>Chittagong</h3></strong>
            <strong>
                Dampara,Police Line
                Chittagong
                phone:012545444
            </strong>
        </p>
    </div>
    <div class="col-md-2">
        <p>
            <strong><h3> Rajshahi</h3></strong>
            <strong>
                Sadar Mor,Abbas Road
                Rajshahi
                phone:012545445
            </strong>
        </p>
    </div>
    <div class="col-md-2">
        <p>
            <strong><h3> Khulna</h3></strong>
            <strong>
                Khanjahan Ali,Sadar
                Khulna<br />
                phone:012545446
            </strong>
        </p>
    </div>
    <div class="col-md-2">
        <p>
            <strong><h3>Sylhet</h3></strong>
            <strong>
                Ginda Bazar,Sadar<br />
                Sylhet<br />
                phone:012545447
            </strong>
        </p>
    </div>
    <div class="col-md-2">
        <p>
            <strong><h3> Rangpur</h3></strong>
            <strong>
                City Mahal,Sadar<br />
                Rangpur<br />
                phone:012545448
            </strong>
        </p>
    </div>
</div>